* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.app {
	min-height: 100vh;
	width: 100%;
}

.active {
	width: 350px !important;
	transition: 1.25s ease;
}

.fadeLeft {
	opacity: 1 !important;
	margin-right: -75px !important;
	transition: 1.75s ease;
}

.skewX {
	transform: skewX(0deg) !important;
	transition: 1.5s ease;
}

@keyframes zeroToFull {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
